.ProjectsContainer {
  margin-top: 20rem;
}

.ProjectCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 10rem;
}

.ProjectCard h1 {
  color: #1B1B1E;
  font-family: 'Inter', 'sans-serif';
  font-weight: 600;
  font-size: 3rem;
}

.ProjectCard h2 {
  color: #1B1B1E;
  font-family: 'Inter', 'sans-serif';
  font-weight: 300;
  font-size: 1.6rem;
  text-align: left;
  width: 500px;
  margin-top: 1rem;
}

.imgContainer {
  position: relative;
  margin-left: 10rem;
  margin-bottom: 10rem;
}

.img1, .img2 {
  border: 2px solid #738290;
  border-radius: 4px;
}

.img1 {
  width: 300px;
}

.img2 {
  width: 200px;
  position: absolute;
  left: 150px;
  top: 80px;
}

.InfoContainer nav {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.code {
  color: #1B1B1E;
  width: 4rem;
  height: 4rem;
}

.code:hover {
  color: #A1B5D8;
  transform: scale(1.5);
  transition: 100ms ease-in-out;
}

@media screen and (max-width: 576px) {
  .ProjectsContainer {
    margin-top: 8rem;
  }
  
  .ProjectCard {
    flex-direction: column-reverse;
  }
  
  .ProjectCard h1 {
    font-size: 2rem;
  }
  
  .ProjectCard h2 {
    font-size: 1rem;
    width: 20rem;
  }
  
  .imgContainer {
    margin-top: 2rem;
    margin-left: 0;
    margin-bottom: 0;
  }
  
  .img2 {
    left: 80px;
    top: 90px;
  }
  
  .InfoContainer nav {
    margin-top: 1rem;
  }
  
  .code {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .ProjectsContainer {
    margin-top: 8rem;
  }
  
  .ProjectCard {
    flex-direction: column-reverse;
  }
  
  .ProjectCard h1 {
    font-size: 2.2rem;
  }
  
  .ProjectCard h2 {
    font-size: 1.2rem;
    width: 30rem;
  }
  
  .imgContainer {
    margin-top: 2rem;
    margin-left: 0;
    margin-bottom: 0;
  }
  
  .img2 {
    left: 80px;
    top: 90px;
  }
  
  .code {
    width: 3rem;
    height: 3rem;
  }
}

@media screen and (min-width: 993px) and (max-width: 1280px) {
  .ProjectsContainer {
    margin-top: 12rem;
  }
  
  .ProjectCard h1 {
    font-size: 2.4rem;
  }
  
  .ProjectCard h2 {
    font-size: 1.2rem;
    width: 30rem;
  }
  
  .imgContainer {
    margin-left: 0;
    margin-bottom: 2rem;
  }
  
  .code {
    width: 3rem;
    height: 3rem;
  }
}
